.learn-content{
    max-width: 600px;
    margin:  auto;
    padding: 30px;
}
h2 {
    color: #333;
    text-align: center;
}
p {
    font-size: 20px;
    line-height: 1.2;
}
h3 {
    text-align: center;
    color: #333;
}
ol li {
    list-style: none;
    padding: 5px;
}
ul li {
    list-style: none;
    text-align: justify;
    padding: 5px;
}
